* {
  margin: 0;
  padding: 0;
  outline: 0;
}
body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.full_wrapper {
  width: 100%;
}
.wrapper {
  width: 1150px;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 180%;
}
p {
  line-height: 180%;
}
.clear {
  overflow: hidden;
}

/* --------------------------typography finish -------------------------*/
#about_section h1 {
  text-align: center;
  text-transform: uppercase;
}
#about_section h2 {
  color: red;
}
#about_section p {
  color: green;
  margin-bottom: 15px;
}

/* ---------------------------about section end----------------------------- */

.main_bg {
  background: #ddd;
}
#main {
  padding: 20px 0px;
}
#main h2 {
  color: red;
}
#main p {
  color: black;
}
#main .e_s_c {
  color: green;
  font-size: 15px;
  background-color: white;
}
#main button {
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  font-size: 18px;
  margin-left: 50%;
  margin-top: 20px;
}

/* --------------------------------2nd step start start--------------------- */

.snd_step {
  background: black;
  padding: 50px;
  margin-top: 30px;
  /* color: white; */
}
.snd_step #up,
.snd_step #low {
  color: white;
}
.snd_top {
}
.snd_top_left {
  float: left;
}
.snd_top_right {
  float: right;
}
